body {
	background-color: hsl(36, 100%, 90%);
}
.app {
	display: grid;
	gap: 0.7em;
	/* height: 100%; */
	margin: 1.5em;
	padding: 1em;
	border-radius: 1em;
	background-color: hsl(36, 90%, 80%);
	box-shadow: 3px 3px 2px hsl(0 50% 0% / 0.2);
}
